<div class="logo"></div>
  <div class="login-block">
  <h1>Zaloguj się do aplikacji Meety</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <input type="text" formControlName="username" placeholder="nazwa użytkownika" id="username">
    <input type="password" formControlName="password" placeholder = "hasło" id="password">
    <input type="submit" value="Zaloguj">

  </form>
</div>